<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/changepassword" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" required id="">
        <label for="oldpassword">Old password:</label>
        <input type="password" name="oldpassword" required>
        <label for="newpassword">New password</label>
        <input type="password" name="newpassword" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>