<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/changepw.css">
</head>
<body>
    <div class="card">
        <form action="/changepassword" class="form-chngpw" method="POST">
            <input type="email" placeholder="Emaili:" name="email" required id="">
            <input type="password" placeholder="Fjalkalimi i vjeter:" name="oldpassword" required>
            <input type="password" placeholder="Fjalkalimi i ri:" name="newpassword" required>
            <input type="submit" value="Ndro fjalkalimin">
        </form>
    </div>
</body>
</html>