<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <!-- whatever -->
        <a href="/">Home</a>
        <a href="/register">Regjistrohu</a>
        <a href="/login">Kyqu</a>
    </nav>



    <% data.forEach(row=>{ %>
        <h2>Emri: <%= row.emri_produktit %></h2>
        <h3>Pershkrimi :<%= row.pershkrimi_produktit %></h3>
        <h3>Cmimi: <%= row.cmimi_produktit %></h3>
        <h4>Sasia: <%= row.sasia_produktit %></h4>
    <% }) %>
</body>
</html>