<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="POST">
        <label for="emri">Emri:</label>
        <input type="text" name="emri" required >
        <label for="mbiemri">Mbiemri:</label>
        <input type="text" name="mbiemri" required>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" minlength="8" required id="">
        <label for="oldpassword">Password Confirm:</label>
        <input type="password" name="oldpassword" minlength="8" required id="">
        <input type="submit" value="Submit">
    </form>
    <%if(message){ %>
        <h2><%= message %></h2>
    <% } %>
</body>
</html>