*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forma{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}
input{
    margin: 10px 0px;
    padding: 5px 5px;
}
input[type=email]:focus{
    outline: none !important;
    border-bottom: 1px solid black;
}
input[type=password]:focus{
    outline: none !important;
    border-bottom: 1px solid black;
}
.input-ep{
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(193, 255, 255);
}
#submit{
    background-color: rgb(62, 207, 255);
    border: 1px solid black;
    font-weight: 500;

}
#submit:hover{
    background-color: rgb(102, 143, 157);
    color: white;
}
.card{
    background-color: rgb(193, 255, 255);
}