*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    width: 100%;
    height: 100vh;
} */
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}

html::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	background-color: #ADB5BD;
}
html::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
}

/* navbari */

body{
    width: 100%;
    height: 100%;
    background-color: #C6D6EE;
}
nav{
    width: 100%;
}

.nav-item{
    display: flex;
    flex-direction: row;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}

.pjesa1{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.pjesa2{
    width: 33%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#a1{
    background-color: transparent;
    color: white;
}
.collapse{
    width: 33% !important;
}
.logo{
    width: 8.5rem;
}
#search-form{
    box-sizing: content-box;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    position: sticky;
    top: 42px;
    width: 100%;
}
#search-input{
    width: 100%;
    padding: 8px 0px;
    border: 1px solid gray;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    text-indent: 5px;
    background-color:#087EA2;
    border: none;
    outline: none;
    color: white;
}
#search-input::placeholder{
    color: #fff;
}
#search-input:focus{
    outline: none;
}
.search-submit{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    background-color: #087EA2;
    padding: 5.4px 9px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    color: #fff;
}
.rcmn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagesa{
    /* background: linear-gradient(90deg, rgb(51, 117, 241) 0%, rgb(45, 177, 166) 100%, rgb(67, 195, 221) 100%);
    background: linear-gradient(90deg, rgb(67, 195, 221) 0%, rgb(51, 117, 241) 100%, rgb(51, 117, 241) 100%); */
    background-color:  #05A7BE;
}


#recommendations{
    position: absolute;
    top: 90px;
    list-style-type: none;
    z-index: 100;
    background-color: white;
    width: 32.3rem;
    /* border-radius: 5px ; */
    box-sizing: content-box;
    box-shadow: 1px 1px 9px 1px gray;
    margin-top: 6px;
}
.rcmn-li{
    width: 100%;
    /* margin: 10px 0; */
    padding: 5px 0;
    cursor: pointer;
    padding: 10px;
}
.rcmn-li:hover{
    background-color: #4AA1AC;
    color: white;
    transition: 0.2s;
    /* border-radius: 5px; */
}

#logout-form{
    border: none;
    outline: none;
}
#logout-form > input{
    border:none;
    outline:none;
}

/* navbari */
.copy{
    text-decoration: none;
    text-transform: none;
}
.p-3{
    display: flex;
    flex-direction: row;
}
.skaprod{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.cart-card{
    width: 100%;
    display: block;
    padding: 10px;
}
.Cart_Title_Div{
    margin-top: 50px;
    width: 100%;
    height: 30px;
}
.Cart-text{
    font-family: 'Montserrat', sans-serif;
    color: #05A7BE;
    font-size: 24px;
    text-align: center;
}
.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.container1{
    width: 1200px;
    display: flex;
    background-color: #05A7BE;
    min-height:300px;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
.first-part{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item{
    width: 100%;
    display: flex;
}
.Names{
    width: 100%;
    display: flex;
    padding: 10px;
}
.Names > div > h1{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #087ea23f;
    padding: 5px 10px;
    border-radius: 10px;
}

.Names > div > img{
    width: 20px;
    height: 20px;
}
.first-part > hr{
    width: 90%;
    height: 3px;
}
.Produkti_Description{
    width: 100%;
    display: flex;
}
.Produkti_Presentation{
    width: 50%;
}
.Cmimi_Presentation{
    width: 30%;
}
.Sasia_Presentation{
    width: 20%;
}
.Trash{
    width: 10%;
}
.remove-from-cart{
    background-color: transparent;
    padding: 2px;
    border-radius: 5px;
}
.remove-from-cart:hover{
    border: 1px solid black;
}
.img > img{
    width: 100px ;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
}
.title-cart{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    padding: 10px 10px 0px 10px;
}
.cmimi-cart{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 10px 10px 0px;
    margin: 0;
}
.sasia-cart{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}
.second-part{
    width: 30%;
}


/* footer */
.fund{
    border: none;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-weight: normal;
    padding: 0;
}
.fund:hover{
    transition: 0.5s ;
    background-color: transparent;
    transform:scale(110%) ;
}
.plast{
    display: flex;
    justify-content: flex-start;
    width: 125%;
}
/* footer */

@media screen and (max-width:600px) {
    .button1{
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
@media screen and (max-width:990px) {
    #search-form{
        display: flex;
        flex-direction: row;
    }
    .image{
        width: 100%;
        height: 300px;
    }
    .button1{
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .pjesa1{
        width: 33%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .pjesa2{
        width: 33%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}