*{
    margin: 0px;
    padding:0 ;
    box-sizing: border-box;
}
/* navbari */

body{
    width: 100%;
    height: 100vh;
    background-color: #C6D6EE !important;
}
nav{
    width: 100%;
}

.nav-item{
    display: flex;
    flex-direction: row;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}

.pjesa1{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.pjesa2{
    width: 33%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#a1{
    color: white;
}
.collapse{
    width: 33% !important;
}
.logo{
    width: 8.5rem;
}
#search-form{
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    position: sticky;
    top: 42px;
}
#search-input{
    padding: 5px 0px;
    border: 1px solid gray;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 5px;
}
#search-input:focus{
    outline: none;
}
.search-submit{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    background-color: #2A5592;
    padding: 2.5px 10px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.rcmn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagesa{
    background-color: #64BBE4;
}
#recommendations{
    position: absolute;
    top: 90px;
    list-style-type: none;
    z-index: 100;
    background-color: #8bb6f8;
    width: 14rem;
    border-radius: 2px;
}
.rcmn-li{
    width: 83%;
    margin: 10px 0;
    padding: 5px 0;
    cursor: pointer;
}
.rcmn-li:hover{
    width: 100%;
    background-color: #2A5592;
    color: white;
}
.cart-color{
    color: white;
}
/* navbari */
.copy{
    text-decoration: none;
    text-transform: none;
}
.p-3{
    display: flex;
    flex-direction: row;
}
.slide-reklama{
    width: 100%;
    height: 30vh;
    background-color: #2A5592;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100%;
    height: auto;
    display: flex;
}
.first-part{
    width: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}
.second-part{
    width: 70%;
    display: flex;
}
.card-body{
    max-width: 30%;
    min-width: 30%;
    box-sizing: border-box;
    border: 1px solid black;
    height: 17rem;
    margin: 20px 10px;
    padding: 0 !important;
    background-color: #f8f8f8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.title-card{
    font-size: 18px;
    padding-left: 10px;
}
.sasia-card{
    font-size: 13px;
    padding-left: 10px;
}
.cmimi-card{
    font-size: 13px;
    padding-left: 10px;
}
.add-to-card12{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right:10px;
}
.add-to-cart{
    background-color: #64BBE4;
    text-decoration: none;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #222222;
}
.add-to-cart:hover{
    color: #64BBE4;
    transition: .1s;
    background-color: #2A5592;
}
.categories{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 600px;
    align-items:flex-start;
    border: 1px solid gray;
    margin: 10px 0;
    border-radius: 10px;
}
.special{
    background-color: yellow;
    color: red;
    padding: 5px 10px;
    border-radius: 10px;
}
.special h1{
    font-size: 30px;
}
.img-card{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.filter-submit{
    background-color: #64BBE4;
    text-decoration: none;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #222222;
}
.filter-submit:hover{
    color: #64BBE4;
    transition: .1s;
    background-color: #2A5592;
}
/* i{
    text-size-adjust: 30px;
} */

@media screen and (max-width:600px) {
    .button1{
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .card-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .card-body{
        min-width: 200px !important; 
    }
}
@media screen and (max-width:990px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .first-part{
        width: 100%;
    }
    .categories{
        height: auto;
        padding: 20px 0;
    }
    .second-part{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #search-form{
        display: flex;
        flex-direction: row;
    }
    .image{
        width: 100%;
        height: 300px;
    }
    .button1{
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .pjesa1{
        width: 33%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .pjesa2{
        width: 33%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}