*{
    margin: 0px;
    padding:0 ;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}

html::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	background-color: #ADB5BD;
}
html::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
}

a {
    text-decoration: none;
    color: black;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}

input, input:focus, input:active {
    outline: none;
}

button,
button:active,
button:focus,
button:hover {
    outline: none;
}

button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #000;
}

/* navbari */

body{
    width: 100%;
    height: 100vh;
    background-color: #C6D6EE !important;
}
nav{
    width: 100%;
}

.nav-item{
    display: flex;
    flex-direction: row;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}

.pjesa1{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.pjesa2{
    width: 33%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#a1{
    background-color: transparent;
    color: white;
}
.collapse{
    width: 33% !important;
}
.logo{
    width: 8.5rem;
}
#search-form{
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    position: sticky;
    top: 42px;
}
#search-input{
    padding: 5px 0px;
    border: 1px solid gray;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 5px;
}
#search-input:focus{
    outline: none;
}
.search-submit{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    background-color: #2A5592;
    padding: 9px 10px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    margin-bottom: 17px;
}
.rcmn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagesa{
    background: linear-gradient(90deg, rgb(51, 117, 241) 0%, rgb(45, 177, 166) 100%, rgb(67, 195, 221) 100%);
    background: linear-gradient(90deg, rgb(67, 195, 221) 0%, rgb(51, 117, 241) 100%, rgb(51, 117, 241) 100%);
}


#recommendations{
    position: absolute;
    top: 90px;
    list-style-type: none;
    z-index: 100;
    background-color: #8bb6f8;
    width: 14rem;
    border-radius: 2px;
}
.rcmn-li{
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    cursor: pointer;
}
.rcmn-li:hover{
    background-color: #2A5592;
    color: white;
}
.cart-color{
    color: white;
}
/* navbari */
#progress {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}

#wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* product card */
.productCard-mainDiv{
    background-color: #fff;
    width: 1200px;
    height: 60rem;
}
.imageContainer{
    width: 33%;
}


/* product card */

/* footer */
.fund{
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #3DA6E4 0%, #3B9DE6  100%, #3090CE 100%);
    color: white;
    font-weight: normal;
    padding: 0;
}
.fund:hover{
    transition: 0.5s ;
    transform:scale(110%) ;
}
.plast{
    display: flex;
    justify-content: flex-start;
    width: 125%;
}
/* footer */




@media only screen and (min-width:767px) {
    .navbarDiv-main{
        width: 1200px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}
@media screen and (max-width: 767px) {
    .navbarDiv-main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .pjesa1, .pjesa2, .collapse {
        width: 33%;
    }
    .collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:990px) {
    nav{
        z-index: 1000;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .form-produkt{
        flex-direction: column;
        width: 90%;
        margin-top: 15rem ;

    }
    .image{
        width: 100%;
        height: 300px;
    }
    .titull{
        width: 100%;
        min-height: auto;
    }
    .title{
        font-size: 50px;
    }
    .description{
        font-size: 15px;
    }
    .button1{
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .pjesa1{
        width: 33%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .pjesa2{
        width: 33%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:600px) {
    .plast{
        display: flex;
        justify-content: center;
        width: auto;
    }
}
