*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-1{
    width: 50%;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 600px ;
}
.form-product{
    display: flex;
    flex-direction: column;
}
.form-product > textarea{
    margin: 5px 0px;
}
.form-product > textarea:focus{
    outline: none;
    border: 2px solid gray;
}
.form-product > input{
    margin: 5px 0px;
}
.form-product > input:focus{
    outline: none;
    border: 2px solid gray;
}
.form-product > select{
    margin: 5px 0px;
}
.form-product > select:focus{
    outline: none;
    border: 2px solid gray;
}
.form-product> input[type=submit]{
    border: 1px solid gray;
    background-color: rgb(193, 255, 255);
    padding: 5px 5px;
}
.form-product > input[type=submit]:focus{
    outline: none;
    border: 1px solid gray;
}
.form-product > input[type=submit]:hover{
    color: white;
    background-color: rgb(102, 143, 157);
}
.fshimja{
    width: 40%;
    background-color: rgb(255, 73, 73);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.fshimja:hover{
    background-color: rgb(146, 0, 0);
}
.form-delete{
    background-color: red;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-delete > h4{
    color: #fff;
}
.mainProdukts{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.images{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: transparent;
    background-color: rgb(203, 203, 203);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
}
.images > img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    background-color: #fff;
}
.images > form{
    width: 150px;
}
.images > form > button{
    color: #000;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-family: "DM Sans";
}
.images > form > button:hover{
    background-color: #fff;
}
.images > button{
    color: #fff;
    border: 1px solid red;
    background-color: rgb(255, 102, 102);
    padding: 0px 5px;
    font-family: "DM Sans";
    display: flex;
    justify-content: center;
    align-items: center;
}
.images > button:hover{
    background-color: rgb(166, 53, 53);
}
.mainProdukts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.upload{
    color: #000;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-family: "DM Sans";
    margin-top: 30px;
}
.upload:hover{
    background-color: #fff;
}.preview-image {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
}