@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Merriweather:wght@700&family=Montserrat:wght@400;500&family=Poppins&family=Roboto:ital,wght@0,400;1,900&family=Stick+No+Bills:wght@800&display=swap');



*{
    margin: 0px;
    padding:0 ;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}

html::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	background-color: #ADB5BD;
}
html::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
}

a {
    text-decoration: none;
    color: black;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}

input, input:focus, input:active {
    outline: none;
}

button,
button:active,
button:focus,
button:hover {
    outline: none;
}

button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #000;
}

/* navbari */

body{
    width: 100%;
    height: 100vh;
    background-color: #C6D6EE !important;
}
nav{
    width: 100%;
}

.nav-item{
    display: flex;
    flex-direction: row;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}

.pjesa1{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.pjesa2{
    width: 33%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#a1{
    background-color: transparent;
    color: white;
}
.collapse{
    width: 33% !important;
}
.logo{
    width: 8.5rem;
}
#search-form{
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    flex-direction: row !important;
    align-items: flex-start;
    position: sticky;
    top: 42px;
}
#search-input{
    padding: 8px 0px;
    border: 1px solid gray;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    text-indent: 5px;
    background-color:#087EA2;
    border: none;
    outline: none;
    color: white;
}
#search-input::placeholder{
    color: #fff;
}
#search-input:focus{
    outline: none;
}
.search-submit{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    background-color: #087EA2;
    padding: 9.4px 9px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    color: #fff;
}
.rcmn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagesa{
    /* background: linear-gradient(90deg, rgb(51, 117, 241) 0%, rgb(45, 177, 166) 100%, rgb(67, 195, 221) 100%);
    background: linear-gradient(90deg, rgb(67, 195, 221) 0%, rgb(51, 117, 241) 100%, rgb(51, 117, 241) 100%); */
    background-color:  #05A7BE;
}


#recommendations{
    position: absolute;
    top: 90px;
    list-style-type: none;
    z-index: 100;
    background-color: white;
    width: 32.3rem;
    /* border-radius: 5px ; */
    box-sizing: content-box;
    box-shadow: 1px 1px 9px 1px gray;
    margin-top: 6px;
}
.rcmn-li{
    width: 100%;
    /* margin: 10px 0; */
    padding: 5px 0;
    cursor: pointer;
    padding: 10px;
}
.rcmn-li:hover{
    background-color: #4AA1AC;
    color: white;
    transition: 0.2s;
    /* border-radius: 5px; */
}
.cart-color{
    color: white;
}
#logout-form{
    border: none;
    outline: none;
}
#logout-form > input{
    border:none;
    outline:none;
}
.cart-color{
    color: white;
}
/* navbari */
#progress {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}

#wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* product card */

#ProductMain{
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#ProductSection{
    min-width: 300px;
    width: 1200px;
    max-width: 1200px;
    height: 100%;
    background-color: #eeeeee;
    display: flex;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.147);
}
.aside{
    width: 50%;
    height: 100%;
}


.slideshow-container {
    width: 100%;
    height:100% ;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prev, .next {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.451);
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot-container{
    max-width: 100%;
}
.dot {
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin: 0 2px;
    background-color: #fff;
    display: inline-block;
    margin-top: 10px;
}
.dot > img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    object-position: center;
}
.slideshow-container > footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.active, .dot:hover {
    border: 1px solid orange;
}

.fade1 {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0%{
        opacity:.4;
    }
    100%{
        opacity: 1
    }
}
.mySlides > img{
    width: 100%;
    height: 40rem;
    object-fit: contain;
    object-position: center;
}

.CompanyName{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.CompanyName > a{
    text-align: start;
    color: #000;
    text-decoration: underline;
}
.ProductName > h1{
    font-size: 34px;
    margin-top: 30px;
}
.ProductInsights{
    padding: 20px 20px;
    background-color: #fff;

}

.ProductInsights > form{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.block_rating {
    width: 100%;
    display: flex;
    justify-content: center;
}

fieldset, label {
    margin: 0;
    padding: 0;
}

.block_rating__stars {
    border: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
}

input[type=checkbox] + label, input[type=radio] + label {
    margin: 0;
}

.block_rating__stars > input {
    display: none;
}

.block_rating__stars > label:before {
    margin: 0 5px;
    font-size: 15px;
    font-family: FontAwesome;
    display: inline-block;
    content: "";
}

.block_rating__stars > .half:before {
    content: "";
    position: absolute;
}

.block_rating__stars > label {
    color: #c9c9c9;
    float: right;
    text-shadow: 0 0 10px lightgray;
}

.block_rating__stars > input:checked ~ label,
.block_rating__stars:not(:checked) > label:hover,
.block_rating__stars:not(:checked) > label:hover ~ label {
    color: #fccf47;
}

.block_rating__stars > input:checked + label:hover,
.block_rating__stars > input:checked ~ label:hover,
.block_rating__stars > label:hover ~ input:checked ~ label,
.block_rating__stars > input:checked ~ label:hover ~ label {
    color: #FFED85;
}
.RatingsDiv{
    display: flex;
    align-items: center;
    width: 170px;
}
.block_rating__avarage {
    margin-left: 31px;
    color: #f1425d;
    font-size: 15px;
    line-height: 35px;
}

.block_rating__reviews {
    margin-left: 20px;
    color: #656c6f;
    font-size: 13px;
}
.average_rating{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 156, 45);
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    font-family: "DM Sans";
    color: #fff;
}
.block_rating > input{
    border: none;
    background-color: #3B9DE6;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: "DM Sans";
    color: #fff;
}
.block_rating > input:hover{
    background-color: #087EA2;
}
.PriceDiv{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.PriceDiv > h1:nth-child(1){
    font-size: 30px;
    font-family: "DM Sans";
}
.PriceDiv > h1:nth-child(3){
    font-size: 15px;
    font-weight: 500;
}
.PriceDiv > h1:nth-child(5){
    font-size: 15px;
    font-weight: 500;
}
.PriceDiv > h1:nth-child(5) > span{
    text-decoration: underline;
}
.PriceDiv > svg{
    margin: 0 10px;
    margin-bottom: 5px;
}


#CreditDiv{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#CreditDiv > img{
    width: 50px;
    object-fit: contain;
    object-position: center;
    margin: 0 10px;
}
#CreditDiv > h3{
    font-size: 14px;
    margin-top: 7px;
}
#CreditDiv > h3 > span{
    color:orangered;
    font-weight: 700;
}
.Quantity{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
    color: gray;
    font-size: 13px;
}

.Quantity > hr{
    width: 100%;
    height: 3px;
    color: black;
    margin: 0 0 0 10px;
}
.custom-number-input {
    display: flex;
    margin: 0;
    padding: 0;
    height: 40px;
}

.custom-number-input button {
    font-size: 14px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    padding: 2.9px 3px;
}
.custom-number-input button:hover{
    background-color: #9f9f9f;
}

.custom-number-input input[type="number"] {
    width: 50px;
    padding: 5px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 14px;
}
.styled-input-number::-webkit-inner-spin-button,
.styled-input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.PlusMinus{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.TransportSection{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.TransportSection > img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
    background-color: #eeeeee;
    border-radius: 10px;
}
.TransportSection > .TransportText{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.TransportSection > .TransportText > h3{
    font-size: 15px;
    line-height: 10px;
}

.PriceSection{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}
.Cash,
.Onlinepayment,
.TransferBank {
    display: flex;
    align-items: center;
}
.Cash > img,
.Onlinepayment > img,
.TransferBank > img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    object-position: center;
    background-color: #eeeeee;
    border-radius: 10px;
}
.Cash > h3,
.Onlinepayment > h3,
.TransferBank > h3{
    font-size: 14px;
    color: orangered;
    margin-top: 6px;
    margin-left: 3px;
}
.addtoCart{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.add-to-cart{
    display: inline-block;
    padding: 10px 100px;
    color: white;
    border: 1px solid white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    background-color: #087EA2;
    font-weight: 600;
    border: none;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart:hover{
    color: black;
    background-color: rgb(205, 205, 205);
}
.add-to-cart > img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}



#MainDesription{
    margin: 30px 0;
    width: 100%;
    height: fit-content;
    display:flex;
    justify-content: center;
    padding: 0;
}
#ProductDES{
    min-width: 300px;
    width: 1200px;
    max-width: 1200px;
    height: 100%;
    background-color: #fff;
    position: relative;
    padding: 0;
    margin: 0;
}
.Button-DIV-DES{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
}
.Button-DIV-DES > button{
    width: 50%;
    height: 100%;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.Button-DIV-DES > button:hover{
    background-color: #b3b2b2;
}
.content {
    display: none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}


.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #edededc8;
    z-index: 9999;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    color: black;
    cursor: pointer;
}

.fullscreen-overlay img {
    margin-top: 10%;
    max-width: 80%;
    max-height: 80%;
}

/* product card */






/* footer */

.fund{
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #3DA6E4 0%, #3B9DE6  100%, #3090CE 100%);
    color: white;
    font-weight: normal;
    padding: 0;
}
.fund:hover{
    transition: 0.5s ;
    transform:scale(110%) ;
}
.plast{
    display: flex;
    justify-content: flex-start;
    width: 125%;
}
/* footer */




@media only screen and (min-width:767px) {
    .navbarDiv-main{
        width: 1200px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}
@media screen and (max-width: 767px) {
    .navbarDiv-main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .pjesa1, .pjesa2, .collapse {
        width: 33%;
    }
    .collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:990px) {
    nav{
        z-index: 1000;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #search-form{
        display: flex;
        flex-direction: row;
        width: 13.6rem;
    }
    #recommendations{
        width: 5rem;
    }
    .rcmn-li{
        width: 9rem;
    }
}
@media screen and (max-width:600px) {
    .plast{
        display: flex;
        justify-content: center;
        width: auto;
    }
    .pjesa2{
        width: 33%;
    }
    #search-form{
        width: 100%;
        padding: 0;
    }
    #search-input{
        width: 100%;
    }
    .search-submit{
        padding: 9.5px 8px;
    }
    #recommendations{
        width: 33% !important;
        padding: 0;
        margin: 0 !important;
        position: absolute;
        top: 97px;
    }
    .rcmn-li{
        width:88.5%;
    }
    #ProductSection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .aside{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
@media only screen and (max-width:1024px){
    #recommendations{
        width: 13.6rem;
    }
}
@media (min-width: 1024px) {
    #search-input{
        width: 30rem;
    }
} 